*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#clock {
    color: yellow;
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    font-size: 60px;
    z-index: 10;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d;
    }
}

.BG {
    background-image: url("./images/background.gif");
    height: 40.5em;
    width: 84.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colorwheel {
    position: absolute;
    z-index: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 99%;
    padding: 10em;
    border-radius: 50%;
    background: conic-gradient(red,black,yellow,black,aqua,black,lime,black,silver,black,red);
}